.card-body p {
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3em;
    line-height: 1.5em;
  }.weblogo{
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }